* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar-thumb {
    background: rgb(33, 43, 54);
    box-shadow: 5px 5px 5px rgba(33, 43, 54, 0.2);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    display: none;
}

*::-webkit-scrollbar {
    width: 15px;
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: transparent;
}